
<nav>
  <ul>
    <li><a href="/home-page">home</a></li>
    <li><a href="/auth/login-page"> Login </a></li>
    <li><a href="/auth/register-page"> Register </a></li>
    <li><a href="/post-page"> Posts </a></li>
    <li><a href="/post-page/create"> Create Posts </a></li>
     <li><a href="/profile-page"> Profile </a></li>
  </ul>
</nav>
