<!DOCTYPE html>
<html>
<head>
    <title>{{$newUser.username}}</title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    {{> navigation}}
    {{{body}}}
</body>
</html>



