<form action="/post-page/create" method="post" enctype="multipart/form-data">
  <label for="title">Title</label>
  <input name="title" type="text" />
  <label for="content">Content</label>
  <input name="content" type="text" />
  <label for="photo"><b>Photo:</b></label>
  <input type="file" name="photo" value="{{post.photo}}" />
  <button type="submit">Create!</button>
</form>