<h1>{{title}}</h1>

<h1>Welcome to TaskService </h1>


 <div class="section">
        <div class="section-header">Introduction</div>
        <p>
            Welcome to TaskService, where talents shine and skills find a spotlight! Our platform is dedicated to
            showcasing your expertise in cooking, carpentry, teaching, and more. Create captivating posts to exhibit your
            work, share your unique skills, and leave your contact number for potential collaborations. Join our
            community of skilled individuals, connect with like-minded enthusiasts, and let your talents speak for
            themselves.
        </p>
    </div>

    <div class="section">
        <div class="section-header">Posts</div>
        <p>
            Under the "Posts" section, you will find all the unique posts that users have created. Here you can also
            filter out the posts by their category to make your search easier. Click on a post to view the user's
            profile.
        </p>
    </div>

    <div class="section">
        <div class="section-header">Create Post</div>
        <p>
            In the "Create Post" section, showcase your professional skills by providing a title, content, and selecting
            a category for your work.
        </p>
    </div>

    <div class="section">
        <div class="section-header">Profile Page</div>
        <p>
            On your profile page, you can edit your profile, add a picture, create a username, and add your mobile
            number. You can also create a post to further showcase your talents.
        </p>
    </div>

</body>

</html>