<h1>{{title}}</h1>

<h1>Welcome to TaskService </h1>
<p>This is the home page!!!!</p>

<p>
  Welcome to TaskService, where talents shine and skills find a
  spotlight! Our platform is dedicated to showcasing your expertise in cooking,
  carpentry, teaching, and more. Create captivating posts to exhibit your work,
  share your unique skills, and leave your contact number for potential
  collaborations. Join our community of skilled individuals, connect with
  like-minded enthusiasts, and let your talents speak for themselves.</p>